$pure-white = #fff

// dark palette
$pure-black = #000
$tuna = #323233
$ship-gray = #414143
$ship-gray--brownish = #3D3D3E
$gray = #848484
$seashell = #f1f1f1
$silver = #CCCCCC
$silver-chalice = #B2B2B2

// brown palette
$ecstasy = #F77E0B
$tree-poppy = #F8941E
$christine = #F17109
$golden-brass = #D99B1F

// yellow palette
$alizarin = #ED1D24
$crimson = #ED1C25
