@import "../../styles/global/global.styl"

.germany-img-map
  width: 100%
  background-color: $seashell
  text-align: center
  @media(min-width: $max)
    display: none
  img
    width: 100%
    height: auto