@import "global/reset.styl"
@import "global/normalize.styl"


@import "../bem-components/base-select/base-select.styl"

html
  font-size: 14px

body
  overflow-x: hidden
  font-family: 'Raleway-Regular'

  &::-webkit-scrollbar
    width: 5px
    background-color: transparent

  &::-webkit-scrollbar-thumb
    background-color: $ship-gray

.container
  max-width: 1400px