@import "../../styles/global/global.styl"

.link-tile
	position: relative
	width: 100%
	background-size: cover
	background-position: center
	border-radius: 1px

	&--big
		.link-tile__header
			font-size: $px_30

	&__label
		display: inline-block
		position: absolute
		top: 15px
		right: 15px
		padding: 5px 10px
		background-color: $tree-poppy
		font-size: $px_18
		color: $pure-white

	&__link
		position: absolute
		size(100%)
		top: 0
		left: 0
		padding: 15px
		text-decoration: none
		&:hover
			text-decoration: none

	&__header
		max-width: 200px
		text-decoration: none
		font-size: $px_20
		color: $ship-gray