@import "../../styles/global/global.styl"

.logo
  width: 190px
  height: 44.1px
  @media(min-width: $small)
    size(256.6px, 59.5px)

  &__link
    display: block
    size(100%)
    background-size: cover
    background-repeat: no-repeat

  &__svg
    size(100%)
